/* Products cart */
.container-cart {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px 0 50px 0;
  display: flex;
  background-color: #fff;
}

.left-column {
  width: 45%;
  position: relative;
  text-align: center;
  right: 100px;
}

.right-column {
  width: 35%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.left-column img {
  width: 70%;
  position: absolute;
}

.left-column img.active {
  opacity: 1;
}

.product-description {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}

.product-description span {
  font-size: 12px;
  color: #358ed7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.product-description h1 {
  font-weight: 300;
  font-size: 32px;
  color: #43484d;
  letter-spacing: -2px;
}

.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939e;
  line-height: 24px;
}

.product-color {
  margin-bottom: 30px;
}

.color-choose div {
  display: inline-block;
}

.color-choose input[type="radio"] {
  display: none;
}

.color-choose input[type="radio"]+label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.color-choose input[type="radio"]+label span {
  border: 2px solid #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.color-choose input[type="radio"]#red+label span {
  background-color: #c91524;
}

.color-choose input[type="radio"]#blue+label span {
  background-color: #314780;
}

.color-choose input[type="radio"]#black+label span {
  background-color: #323232;
}

.color-choose input[type="radio"]:checked+label span {
  /* background-image: url(""); */
  background-repeat: no-repeat;
  background-position: center;
}

.cable-choose {
  margin-bottom: 20px;
}

.cable-choose button {
  border: 2px solid #e1e8ee;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5e6977;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: bold;
}

.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 1px solid #86939e;
  outline: none;
}

.cable-choose button:hover {
  background-color: #a9c8e2 !important;
  color: var(--primary-color);
}

.cable-config {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}

.cable-config a {
  color: #358ed7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}

.cable-config a:before {
  content: "?";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 400;
  color: #43474d;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #FF0000;
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 30px;
  transition: all 0.5s;
}

.cart-btn:hover {
  background-color: #DD0000;
  text-decoration: none;
}

@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}

@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}

.noti {
  min-height: 30px;
  padding: 12px 0 7px 0
}

.noti-header {
  max-width: 1200px;
  margin: auto;
  font-weight: 500;
  padding: 5px 0 0 0;
}

.noti-header li {
  display: inline;

}
.noti-item a {
  color: #000;
  text-decoration: none;
}
.cart-layout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  min-width: 900px;
  min-height: 420px;
  background-color: #e1e8ee;
}