.table {
    background-color: #fff;
}


.button-one {
    max-width: 100px;
    padding-left: 20px;
}

/* .btn:hover {
    background-color: #F0F0F0 !important;
    color: #0b5ed7 !important;
} */

.btn-primary {
    border-color: #fff !important;
}

td .button-one{
    background-color: #fff;
    
}

.button-one i {
    color: crimson;
    font-size: 15px;
}

.btnAdd {
    color: black;
    width: 100px;
}

.table tr {
    text-align: center;
}
.table td {
    vertical-align: middle;
}

.description {
    max-width: 250px;
}

.modal-backdrop.show {
    opacity: 0.1 !important;
}